* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/5299129.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

nav {
    width: 30%;
}

.header {
    color: white;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.nav-bar {
    margin: auto;
}

.header-logo {
    margin: 0.5rem;
    position:relative;
}

.nav-btn {
    color: white;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
}

main {
    color: white;
}

.home-greeting-container {
    width: 50%;
    margin: 5rem auto;
    padding: 1rem;
}