:root {
    --dark-charcoal: #303841;
    --light-charcoal: #3a4750; 
    --cyan-ish: #00adb5; 
    --light-grey: #eeeeee; 
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/5299129.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

nav ul {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

nav {
    width: 30%;
}

.header {
    color: white;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}

.nav-bar {
    margin: auto;
}

.header-logo {
    margin: 0.5rem;
    position: absolute;
}

.nav-btn {
    color: white;
    opacity: 0.8;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    transition: 0.2s;
}

.nav-btn:hover {
    cursor: pointer;
    opacity: 1.0;
    transition: 0.2s;
}

main {
    color: white;
}

.home-greeting-container {
    width: 50%;
    margin: 5rem auto;
    padding: 1rem;
}